
#div1{
    background-color: aquamarine;
}

.div2{
    background-color: chocolate;
}

.div3{
    background-color: burlywood;
}

.div4{
    background-color: darkcyan;
}

.div5{
    background-color: lightpink;
}

.div6{background-color: rgb(196, 177, 152);}
