/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.header{
    background-color: black;
    color: aliceblue;
}

.header h1{
    text-align: center;
}

.header hr{
    border:  solid red; /*by default any border is 2px*/
}

.header p{
    margin-block: 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.index-body{
    margin: 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.firstForm{
    width: auto;
    height: 1500px;

    background-color: bisque;
    color: black;

    border:3px  solid red;
}
.firstForm h2{
    font-size: 50px;
    text-align: center;
    color: red;
}

.firstForm label{
    /* position: absolute; */
    /* text-align: center; */
    color: green;
}

.firstForm button{
    width: 90px;
    height: 30px;

    background-color: rgb(3, 122, 122);
    color: wheat;

    margin-left: 2cm;

    border: 1px solid black;

    cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.footer{
    background-color: black;
}
.footer a{
    /* width: 50px; */
    color: white;
    text-align: right;
}
.footer p{
    color: rgb(203, 156, 247);
    text-align: right;

    margin: 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.submit-success{
    background-color: bisque;
    width: auto; height: 568px; 
    text-align: center;
    margin: 0px;
}
.submit-success h1{
    height: 60px;

    text-align: center;

    margin-top: 22%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;

    background-color: goldenrod;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.lec4{
    width: auto; 
    height: 1000px; 
    background-color: lemonchiffon; 
    border: 3px solid blue;
}





