*{
    margin: 0;
    padding: 0;
}

.div1{
    width: 250px;
    height: 200px;

    color: aliceblue;

    border: 2px solid black;
    border-radius: 10px;

    text-align: center;
}

/* /////////////////////////////////// */
/* id vs class specificity */
#two{
background-color: cornflowerblue;
}
.div1 .title2{
    background-color: bisque;
}

/* /////////////////////////////////// */
/* pseudo class */

.div1 a:hover{ 
    background-color: aqua;
}

.div1 a:active{
    /* background-color: blueviolet; */
}

.div1 .title1:active{
    background-color: bisque;
}

.div1 a:focus{
    background-color: chartreuse;
}

/* /////////////////////////////////// */
/* attr selecotrs */

.div2 [type="text"]{
    background-color: lightpink;
}

[type="password"]{
    background-color: lightskyblue;
}

.div2 [type="email"]{
    background-color: lightyellow;
}
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */


.div3{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background-image: url(../Images/ddd.jpg);
    position: relative;

}

.overlay{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;

}

.content{
    width: 60%;
    height: 100px;
    /* background-color: red; */

    color: aliceblue;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.content h2{
    text-transform: uppercase;
    font-size: 50;
}
.content p{
    font-size: 22;
}







