*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#div1{
    background-color:bisque;
}
#btn1{
    width: auto;
    height: 70px;
    border-radius: 15px;
    margin-left: 10px;
}

#btn1:hover{
    background-color: lightblue;
}


#div2{
    background-color: rgb(227, 176, 110);
}

.section1{
    width: calc(100vw / 2);
}

.section2{
    width: calc(100vw / 2);
    align-self: flex-start;
}