*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 3000px; */
}

/* #region header */

.header{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 30;
    top: 0;
}

.logo img{
    width: 60px;
    height: 50px;

    margin-left: 60px;
    float: left;
}

.nav{
    float: right;
    margin-right: 100px;
    /* position: relative; */
}

.nav li{
    list-style: none;
    float: left;
    margin: 10px 15px;
}


.nav li a{
    text-decoration: none;
    color: red;

    font-size: 26px;
    text-transform: capitalize;
    position: relative;
}

.nav li a::after{
    content: "";
    background-color: blue;

    position: absolute;

    bottom: -8px;
    left: 0;

    width: 0%;
    height: 4px;

    visibility: hidden;
    transition: .5s;
}

.nav li:hover a::after{
    visibility: visible;
    width: 100%;
}
/* #endregion */


/* #region main_sec */


.main_sec{
    width: 100%;
    height: 100vh;

    background-image: url(../Images/ddd.jpg);
    position: relative;
}

.main_sec .overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.main_sec .content{
    color: aliceblue;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main_sec .content h2{
    font-size: 40px;
    text-transform: uppercase;
}

.main_sec .content p{
    font-size: 16px;
    color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 8px;
}


.content .btn{
    border: none;
    padding: 12px 22px;

    border-radius: 6px;
    text-transform: capitalize;
    margin: 0 4px;
}
.content .btn:hover{
    cursor: pointer;
    opacity: .5;
}
.main_sec .content .btn2{
    background-color: blue;
    color: aliceblue;
}

/* #endregion */


/* #region welcome_sec */

.welcome_sec{
    width: 100%;
    height: 100vh;
}
.welcome_sec .title{
    text-align: center;
    padding-top: 100px;
    text-transform: capitalize;
}
.welcome_sec .line{
    border: 2px solid rgb(0, 106, 255);
    width: 100px;
    margin: auto;
    margin-bottom: 40px;
    
}
.container{
    width: 80%;
    /* background-color: bisque; */

    margin: auto;
    overflow: hidden; /* to counter the float  effect*/
}


.welcome_sec_item{
    border: 1px solid black;
    width: 30%;

    float: left;
    text-align: center;

    position: relative;
}


.welcome_sec_item::after{
    background-color: rgba(0, 0, 0, 0.8);
    content: "";

    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
    width: 0%;
    height: 0%;

    visibility: hidden;
    transition: .5s;

}


.welcome_sec_item .icon{
    width: auto;
    height: auto;
    /* line-height: 50px; */
    margin-top: 50px;
    margin-bottom: 25px;
    /* background-color: brown; */
}
.item_title{
    text-transform: capitalize;
    margin-bottom: 8px;
}

.welcome_sec_item .link{
    padding-bottom: 30px;
    text-transform: capitalize;
    margin-top: 10px;
}

.welcome_sec_item .link a{
    text-decoration: none;
    color: rgb(84, 143, 225);

}
.container .middle{
    margin: 0   5%;
} 



.welcome_sec_item:hover .item_title{
    color: aliceblue;
}
.welcome_sec_item:hover .text{
    color: darkgray;
}
.welcome_sec_item:hover .link a{
    color: rgb(78, 138, 221);
}
.welcome_sec_item:hover::after{
    visibility: visible;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

/* #endregion */


/* #region features */


.features_sec{
    overflow: hidden;
    padding: 120px 0px;
    background-color:rgb(219, 219, 219);
}

.features_sec .title{
    text-align: center;
    /* padding-top: 100px; */
    text-transform: capitalize;
}
.features_sec .line{
    border: 2px solid rgb(0, 106, 255);
    width: 50px;
    margin: auto;
    margin-bottom: 40px;
    
}


 .features_sec .features_item{
    width: 30%;
    height: 260px;
    /* border: 2px solid black; */
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.features_item .image{
    width: 80%;
    margin: auto;
    background-color:rgb(165, 167, 168);
    padding-left: 30px;
    padding-right: 30px;
}

.features_content_overlay{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;

}

.features_content_overlay:hover{
    opacity: 1;
}

.features_content{
    text-align: center;
    position: absolute;

    width: 100%;

    top: 50%;
    left:50%;
    
    transform: translate(-50%, -50%);
}


.features_content h2{
    text-transform: uppercase;
    font-size: medium;
    /* color:dodgerblue; */
    color: rgb(76, 76, 232);

    transform: translateY(100%);
    opacity: 0;
    transition: transform .5s, opacity .5s;

}

.features_content_overlay:hover .features_content h2{
    opacity: 1;
    transform: translateY(0%);
}
.features_content p{
    color: aliceblue;
    margin-bottom: 8px;

    transform: translateY(100%);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    transition-delay: .2s;
}

.features_content_overlay:hover .features_content p{
    opacity: 1;
    transform: translateY(0%);
}

.features_content a{
    text-decoration: none;
}
.features_content a i{
    background-color: #3f77d7;

    width: 32px;
    height: 32px;
    line-height: 32px;

    transform: translateY(100%);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    transition-delay: .4s;

}

.features_content_overlay:hover .features_content a i{
    opacity: 1;
    transform: translateY(0%);
}


/* #endregion */

