*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.our-team-header{
    text-align: center;
    text-transform: capitalize;
    height: 100px;

}
.our-team-header-line{
    background-color: blue;
    width: 80px;
    height: 4px;
    display: block;
    margin: 0px auto;
}

.container{
    /* background-color: beige; */
    width: 75%;
    /* height: 30px; */
    margin: 0 auto;
    overflow: hidden;

}

.team-item{
    background-color: rgba(149, 149, 149,.85);
    width: 30%;
    padding: 14px 22px ;
    float: left;
    text-align: center;

}
.middle{
    margin: 0   5%;
}


.team-item-img{
    position: relative;

}

.team-item .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.team-item-name{
    display: block;
    text-transform: capitalize;
    font-size: large;
    
}

.team-item:hover .team-item-name{
    color: aliceblue;
}

.team-item-sp{
    display: block;
    font-size: small;
    text-transform: capitalize;
}
.team-item:hover .team-item-sp{
    color: rgb(3, 3, 187);
}

.team-item-img .overlay i{
    font-size: 36px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;

    margin-left: auto;
    color: aliceblue;
    background-color: rgb(40, 130, 186);
    visibility: hidden;

}



.team-item:hover .overlay{
    opacity: 1;
}

.team-item:hover .overlay i{
    visibility: visible;
}

.team-item-img .overlay a{
    text-decoration: none;
}